<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<title>Red Dew | Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" href="stylesheets/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

	<header>
		<section id="showcase">
			<div class="container">
				<span id="logo">
					<img src="images/RedDew_Logo.png" alt="Red Dew Logo">
				</span>
				<nav>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#l">Recent Works</a></li>
						<li><a href="#">Meet the team</a></li>
					</ul>
				</nav>
			</div>
			<div class="vl">
				<span>
					<h1>MAKE IT HAPPEN</h1>	
				</span>
				
				<p>At vero eos et accusamus et iusto odio</p>
				<p>Dignissimos ducimus qui blanditiis excepturi sint occaecati cupidtate non</p>

				<form>
					<input type="button" value="LEARN MORE" id="round-button"/>
				</form>

			</div>
		</section>
	</header>

<div class="section-1">
		<img src="/images/ex_image1.jpg" alt="About Us image">
		
	<h2>ABOUT</h2>
	<div id="headUnderline"></div>	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magnus aliqua. 
		<br><br>
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum
	</p>
</div>

<div class="section-3">
	<h2>OUR RECENT WORKS</h2>
	<div id="headUnderline3"></div>
	<span>Sed ut perspiciatis unde omins iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. E aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo<br><br>
	Unde omins iste natus error sit voluptatem</span>

<div class="owl-carousel owl-theme owl-loaded">
    <div class="owl-stage-outer">

          	<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.25s;">
          		<div class="owl-item active"><div class="item">
              <img src="images/Set1.jpg">
              	<div class="details">
              		<h4>RUMINATE</h4>
              		<div id="headUnderline5"></div>	
              		<h5>WINE REVIEW/INFO APP</h5>
              		<p>Sed ut perspiciatis unde omins iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. E aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              		</p>

              	</div>
            </div>
        </div>

            <div class="owl-item active"><div class="item">
               <img src="images/Set2.jpg">
                	<div class="details">
              		<h4>SHANGRI-LA</h4>
              		<div id="headUnderline5"></div>	
              		<h5>HOSTEL REVIEW WEBSITE</h5>
              		<p>Sed ut perspiciatis unde omins iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. E aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              		</p>

              	</div>
            </div>
        </div>
            <div class="owl-item active"><div class="item">
               <img src="images/Set3.jpg">
                    <div class="details">
              		<h4 style="color:white">50 WONDERS</h4>
              		<div id="headUnderline5"></div>	
              		<h5 style="color:white">SOCIAL NETWORKING SERVICE</h5>
              		<p style="color:white">Sed ut perspiciatis unde omins iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. E aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              		</p>
              	</div>
            </div>
        </div>
                    <div class="owl-item active"><div class="item">
               <img src="images/Set4.jpg">
                  <div class="details">
              		<h4 style="color:white">S.A.T.E</h4>
              		<div id="headUnderline5"></div>	
              		<h5 style="color:white">ANDROID THEME APP</h5>
              		<p style="color:white">Sed ut perspiciatis unde omins iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. E aque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
              		</p>
            </div>
        </div>

   	</div>
</div>
</div>
</div>
</div>

	<div class="section-4">
	<h2>MEET THE TEAM</h2>
	<div class="headUnderline2"></div>
		<div id="peopleCircle">
			<div class="peopleContainer">
				<svg width="360px" height="290px">
					 <circle cx="180" cy="145" r="135" stroke="#e52d2d" stroke-width="11" fill="none" />
		         <defs>
		            <clipPath id="myCircle">
		              <circle cx="180" cy="145" r="130" stroke="#e52d2d" stroke-width="10" fill="none" />
		         <defs>
		            </clipPath>
		         </defs>
		         <image width="360" height="275" xlink:href="images/Person1.jpg" clip-path="url(#myCircle)" />
		 		</svg>
		 		<h3>Peter Welsh</h3>
		 		<h4>CEO & Lead Director</h4>
		 	</div>

		 	<div class="peopleContainer">
	 			<svg width="360px" height="290px">
					 <circle cx="180" cy="145" r="135" stroke="#e52d2d" stroke-width="11" fill="none" />
		         <defs>
		            <clipPath id="myCircle">
		              <circle cx="180" cy="145" r="130" stroke="#e52d2d" stroke-width="10" fill="none" />
		         <defs>
		            </clipPath>
		         </defs>
		         <image width="360" height="275" xlink:href="images/Person2.jpg" clip-path="url(#myCircle)" />
		 		</svg>
		 		<h3>Mila Johanne</h3>
		 		<h4>Co-Founder</h4>
 		</div>

 			<div style="margin-bottom: 50px" class="peopleContainer">
	 			<svg width="360px" height="290px">
				 <circle cx="180" cy="145" r="135" stroke="#e52d2d" stroke-width="11" fill="none" />
	         <defs>
	            <clipPath id="myCircle">
	              <circle cx="180" cy="145" r="130" stroke="#e52d2d" stroke-width="10" fill="none" />
	         <defs>
	            </clipPath>
	         </defs>
	         <image width="360" height="275" xlink:href="images/Person3.jpg" clip-path="url(#myCircle)" />
	 		</svg>
	 		<h3>Jesse Vestyr</h3>
	 		<h4>Lead Developer</h4>
 		</div>

 			<div style="margin-bottom: 50px" class="peopleContainer">
 				<svg width="360px" height="290px">
			 <circle cx="180" cy="145" r="135" stroke="#e52d2d" stroke-width="11" fill="none" />
         <defs>
            <clipPath id="myCircle">
              <circle cx="180" cy="145" r="130" stroke="#e52d2d" stroke-width="10" fill="none" />
         <defs>
            </clipPath>
         </defs>
         <image width="360" height="275" xlink:href="images/Person4.jpg" clip-path="url(#myCircle)" />
         	<h3>Aster Lovania</h3>
         	<h4>Lead Developer</h4>
		</div>
	</div>
				</div>
<div class="sub-footer">
	<div class="left-footer">
		<div>
			<img src="images/footer/fav1.png" width="80" height="80">
			<h1 class="white-header">Get In Touch</h1>
			<h1 class="red-header">With Us</h1>
		</div>
	<p>Sed ut perspiciatis unde omins iste natus error sit volumptatem 
	accusantium doloremlaudanitum, totam rem aperiam.</p>
	<ul>
		<li> <img width="14" height="22" src="images/footer/fav2.png">4747 Bingamon Road, Cleveland, Switzerland</li>
		<li><img src="images/footer/fav3.png">+(544) 216-695-6568</li>
		<li><img src="images/footer/fav4.png">+(544) 440-545-6568</li>
		<li><img src="images/footer/fav5.png">enquires@rburst.com</li>
	</ul>

	<img class="left-footer-media" src="images/footer/fav6.png">
	<img class="left-footer-media" src="images/footer/fav7.png">
	<img class="left-footer-media" src="images/footer/fav8.png">
	</div>

	<div class="right-footer">
		<img src="images/footer/fav10.png" width="80" height="80">
		<h1 class="white-header">Contact</h1>
		<h1 class="red-header">Form</h1>	
		<input class="top-form" type="text" name="Name" placeholder="Name">
		<input class="top-center-form" type="email" name="Email" placeholder="Email">
		<input class="top-form" type="text" name="Subject" placeholder="Subject">
		<textarea placeholder="Message"></textarea>
		<button class="send-button">Send Message</button>
	</div>
</div>

<footer>
	<p>
		Copyright &copy; 2019 | Garet L | All rights reserved. By 
		<mark>Garet L</mark>
	</p>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
<script  type="text/javascript" src="scripts/carousel.js"></script>
</body>
</html>
