body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	letter-spacing: 0.4px;
}



.container {
	padding: 30px 120px 0 120px;
}

header nav{
	float: right;
	display:inline-flex;
}

header a{
	color: #aaa;
	text-decoration: none;
	transition: color 0.2s;
	font-weight: bold;
}

header li{
	float: left;
	display: inline;
	padding: 20px 18px 0 18px;
}

header a:hover {
	color: white;
}

header ul{
	margin: 0;
}

#showcase{
	position: relative;
	height: fit-content;
	padding-bottom: 200px;
	background: #000000ad;
}

.showcase-bg {
    position: absolute;
    overflow: hidden;
	z-index: -100;
	left: 0;
	right: 0;
}

.showcase-bg-video {
	height: 100%;
    width: 185vh;
    min-width: 100%;
    min-height: 56.25vw; 
	float: right;
}

#logo img{
	width: 128px;
	height: 38px;
}

.vl {
	display: inline-block;
	padding: 0 0 0 42px;
	margin-top: 140px;
	margin-left: 120px;
	border-left: 15px solid #df2947;
	color: white;
}

.vl h1{
	margin: 0 0 40px 0;
	vertical-align: top;
	letter-spacing: 3px;
	color: white;
	font-size: 4.5rem;
}

.vl p{
	letter-spacing: 1.2px;
	font-size: 1.1rem;
	width: 60%;
	line-height: 1.4;

}

#round-button{
	border: 2px solid #df2947;
	border-left: 15px solid #df2947;
    background-color: transparent;
    color: #df2947;
    padding: 20px 36px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 35px 0 0 0;
    border-radius: 0px;
    cursor: pointer;
	transition: all 0.25s;
}

#round-button:hover {
	border: 2px solid #fb2649;
    border-left: 25px solid #fb2649;
    color: #fb2649;
}

.section-1, .section-3, .section-4 {
	box-shadow: inset 0px 14px 20px 0px #ccc;
}

/* -- SECTION 1 -- */

.section-1{
	display: flex;
	justify-content: space-between;
	background: #f6f6f6;
	overflow: hidden;
	border-left: 10px solid #df2947;
	max-height: 600px;
}

.section-1 h2 {
	display: block;
	position: relative;
	margin-left: 50px;
	margin-top: 49px;
	letter-spacing: 1px;
	font-size: 2.1em;
	z-index: 2;
}

#headUnderline {
	display: block;
    position: relative;
    width: 100%;
    max-width: 120px;
    bottom: 50px;
    right: -80px;
    z-index: 1;
}


.section-1 p {
	padding: 40px 20px 55px 50px;
	line-height: 1.4;
	max-width: 40%;
	display: block;
	position: absolute;
	font-size: 1.125em;
	margin: auto;
}

.section-1 img {
	display: block;
	float: right;
	max-width: 50%;	
	width: 100%;
	height: auto;
	margin-left: 10px;
	object-fit: cover;
}

#headUnderline, .headUnderline2, #headUnderline3 {
	border-bottom: 25px solid #e8e2e2;
}

.headUnderline2 {
	display: block;
	position: relative;
	margin: auto;
	width: 14%;
	bottom: 20px;
	z-index: 1;
}

.section-3{
	background-color: #f6f6f6;
	padding: 20px 0 0;
}

.section-3 h2{
	display: inline-flex;
	position: relative;
	margin: 45px 0 0 50px;
	letter-spacing: 1px;
	font-size: 2.1em;
	z-index: 2;
}

.section-3 span {
	display: block;
	padding-right: 50px;
	position: relative;
	vertical-align: top;
	margin-right: auto;
	margin-left: 430px;
	margin-bottom: 0px;
	bottom: 90px;
	font-size: 1.125em;
}

.section-3 #headUnderline3{
	position: relative;
	margin: 0;
	width: 320px;
	left: 80px;
    bottom: 20px;
	z-index: 1;
}

.owl-carousel {
	margin-top: -75px;

}

.owl-item {
	box-shadow: 0px 15px 45px -6px rgba(0,0,0,0.5);
	margin-top: 32px;
	margin-bottom: 32px;
	overflow: hidden;
	transition: 0.15s;
}

.owl-item:hover{
	transition: 0.15s;
	transform: scale(1.03)!important;
	background: #ffffff;
	
}

.owl-dots {
    position:relative;
    z-index:99;
    margin-top:-65px!important;
}

.owl-item:hover img{
	transition: 0.15s;
	filter: blur(3px);
	
}

.owl-item .details{
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: 0.15s;
	filter: blur(0px);
}

.owl-item:hover .details{
	display: block;
	transition: 0.15s;
/*background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,
	rgba(255,255,255,1) 30%,
	rgba(255,255,255,1) 100%);*/
	opacity: 100;
}

.details h4{
	text-align: center;
	margin: auto;
	font-size: 2.5em;
	letter-spacing: 4px;
}

.details h5{
	text-align: center;
	margin: 0px auto 0 auto;
	font-size: 1.1em;
	letter-spacing: 2px;
}

.details p {
	text-align: center;
	padding: 0 40px;
	margin: 10px auto 130px auto;
	font-size: 0.85em;
	line-height: 1.3;
	letter-spacing: 0px;
}

#headUnderline5 {
	display: block;
	position: relative;
	margin: auto;
	max-width: 45%;
	bottom: 23px;
	left: -3px;
	border-bottom: 25px solid #df2947;
	z-index: -2;
}

/* SECTION 4 */

.section-4{
	background-color: #f6f6f6;
	max-width: 100%;
	height: auto;
}


.section-4 h2 {
	margin: 0;
	padding-top: 60px;
	display: block;
	position: relative;
	text-align: center;
	letter-spacing: 3px;
	font-size: 2.1em;
	z-index: 2;
}

.section-4 .headUnderline2 {
	width: 290px;
}

#peopleCircle {
	text-align: center;
}

.peopleContainer{
	display: inline-block;
}

.peopleContainer h3{
	margin: 0;
	font-size: 1.5em;
	margin: 10px 0 15px 0;
}

.peopleContainer h4{
	background-color: #343434;
	color: white;
	margin: auto;
	font-weight: 300;
	padding: 6px 0px;
	max-width: 80%;
}

svg {
	display: inline-block;
	margin: auto;
	padding-top: 50px;
}

/* Footer */

.sub-footer {
	color: #fafafa;
	min-height: 460px;
	background-color: #343434;
	padding: 67px 10%;
	background: url('/images/ex_image2.jpg') no-repeat;
	background-size: cover;
}

.white-header{
	margin: 0;
	font-weight: 400;
}

.red-header{
	margin: 0;
	color: #df2947;
	font-weight: 400;
}

.left-footer{
	float: left;
	max-width: 45%;
}

.left-footer p {
	line-height: 2;
	margin: 30px 0 0 0;
	font-size: 0.95em;
}

.left-footer ul {
	padding-left: 0;
	margin: auto 0;
}

.left-footer li{
	list-style-type: none;
	text-align: left;
	margin: auto;
	padding-top: 25px;
	font-size: 0.90em;
}

.left-footer img {
	float: left;
	padding-right: 15px;
}

.right-footer {
	float: right;
	width: 50%;
    min-width: 390px;
    max-width: 560px;
}

.right-footer input, textarea {
	color: white;
	background-color: #34363D;
	padding: 13px ;
	border: solid 1px #707274;

}

input:focus, textarea:focus {
	outline: none !important;
    border-color: #aaa;
}

.right-footer img {
	float: left;
	padding-right: 15px;
}

.top-form {
	max-width: 24%;
}

.top-center-form {
	max-width: 24%;
	margin: 30px 5% 25px 5%;
}

.left-footer-media{
	margin-top: 25px;
	opacity: 0.5;
    width: 30px;
	transition: opacity	0.25s;
	cursor: pointer;
}

.left-footer-media:hover{
	opacity: 1;
}


textarea {
	width: 100%;
	height: 145px;	
	margin-bottom: 20px;
	resize: vertical;
	max-height: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.send-button{
	color: white;
	background-color: #CD4747;
	border: none;
	padding: 14px;
	width: 100%;
	transition: background-color 0.2s;
}

.send-button:hover {
	background-color: #ee4949;
}

footer{
	width: 100%;
	height: 100%;
	background-color: #222;
	color: #666;
	font-weight: 400;
}

footer p{
	margin: 0;
	padding: 20px 10%;
}

mark{
	color: white;
	background-color: transparent;
}

@media only screen and (max-width: 1366px) {
    .section-4 {
        padding: 0px 10%;
    }
}

@media only screen and (max-width: 1230px) {
    .section-1 img {
        width:40%;
    }
	
	#headUnderline {
		bottom: 40px;
    	left: 76px;
	}

    .section-1 p {
    padding-top: 10px;
	max-width: 50%;
	min-width: 50%;
	font-size: 1em;
    }

    .section-1 h2{
    	margin-bottom: 0;
    	height: 60px;
    }
	
	.sub-footer {
		padding: 67px 20px;
	}
}

@media only screen and (max-width: 1100px) {
    .section-1 img {
        width:42%;
    }
	

    .section-1 p {
    padding-left: 20px;
	max-width: 55%;
	min-width: 55%;
	font-size: 16px;
    }

    .section-1 h2{
    	margin-left: 30px;
    	margin-top: 20px;
    }

    #headUnderline{
    	left: 55px;
    }
	
	.left-footer {
		max-width: 35%;
	}
	
	.right-footer{
		width: 63%;
	}
	
	
	.top-center-form {
		margin: 30px 2% 25px 2%;
	}
}

@media only screen and (max-width: 824px) {
	.section-1 img {
		display: none;
	}
	
	.section-1 p {
		position: static;
		margin: 0;
		margin-left: 20px;
		max-width:90%;
	}
	
	.section-3 span {
		position: initial;
		margin-left: 30px;
		margin-bottom: 60px;
		padding-right: 20px;
	}
	
	.section-4 {
        padding: 0;
    }
	
	.section-4 h2 {
		padding-top: 80px;
	}
	
	.sub-footer {
		display: block;
	overflow: auto;
	}
	
	footer p {
		padding: 20px;
		font-size: 15px;
	}
	
	.left-footer {
		max-width: 100%;
		margin-left: 20px;
		margin-bottom: 10vh;
		margin-right: 20px;
	}
	
	.right-footer {
		margin-left: 20px;
		margin-right: 20px;
		width: 90%;
		float:left;
		min-width: 0;
	}
	
	.right-footer input {
		padding-right: 0;
	}
	
	.top-form{
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
		margin: 5px 0;
	}
	
	.top-center-form {
		margin: 5px 0;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
	}
	
	textarea {
		margin-top: 5px;
	}
	
	.right-footer img {
		margin-bottom: 40px;
	}
	
}

@media only screen and (max-width: 708px) {
	.container {
		text-align: center;
		padding-right: 10px;
   		padding-left: 10px;
		font-size: 14px;
	}
	
	header nav {
		text-align: center;
		padding-left: 0;
		float: none;
	}
	
	header ul {
		padding: 0;
	}

	.showcase-bg-video {
		float: left;
	}
	
	.vl {
		margin-left: 0;
		margin-top: 100px;
		border-left: none;
		text-align:center;
		padding: 0 20px;
	}
	
	.vl h1 {
		line-height: 1;
	}
	
	.vl p {
		width: 90%;
		margin: 10px auto;
	}
}

@media only screen and (max-width: 423px) {
	#headUnderline3{
		left: 50%!IMPORTANT;
		bottom: 20px!important;
		width: 280px!important;
		transform: translateX(-50%);
		
	}
	
	.section-3 h2{
		display: block;
		margin: 0;
		padding-top: 20px;
		text-align: center;
	}
}